<% if (error) { %>
  <div class="alert alert-danger text-center" role="alert"><%= error %></div>
<% } %>
<section class="container">
  <h1><%= movie.title %></h1>
  <p><%= movie.description %></p>
  <p>By <a href="/directors/<%= movie.director._id %>"><%= movie.director.name %></a></p>
  <ul class="list-inline">
    <li><a class="btn btn-primary" href="/movies/<%= movie._id %>/edit">Edit</a></li>
    <li>
      <form action="/movies/<%= movie._id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger">Delete</button>
      </form>
    </li>
  </ul>

  <h2>Add comment</h2>
  <form action="/movies/<%= movie._id %>/comments" method="post">
    <div class="form-group">
      <label for="comment_body">Comment</label>
      <input type="text" class="form-control" id="comment_body" name="comment[body]" placeholder="Add a comment yo...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h2>Previous comments</h2>
  <ul class="list-unstyled">
    <% movie.comments.forEach(comment => { %>
      <li><%= comment.body %></li>
    <% }) %>
  </ul>
</section>
