<h1><%= restaurant.name %></h1>
<h6><% for (var i = 0; i < restaurant.rating; i++) { %>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<% } %></h6>
<h4>in <%= restaurant.location %></h4>
<p><%= restaurant.description %></p>
<a href="/restaurants/<%= restaurant._id %>/edit" class="btn btn-primary">Edit</a>
<form action="/restaurants/<%= restaurant._id %>" method="post">
  <input type="hidden" value="delete" name="_method">
  <input type="submit" class="btn btn-danger" value="Delete">
</form>

<iframe width="560" height="315" src="https://www.youtube.com/embed/XnxSLwLFfNY" frameborder="0" allowfullscreen></iframe>
